@model ControllerAction.Models.HelpersModel

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

@*<div>
    @Html.TextBoxFor(o => o.String)
    @Html.CheckBoxFor(o => o.Bool)
    @Html.TextBoxFor(o => o.Decimal)
    @Html.TextBoxFor(o => o.DateTime)
</div>
<div>
    @Html.EditorFor(o => o.String)
    @Html.EditorFor(o => o.Bool)
    @Html.EditorFor(o => o.Decimal)
    @Html.EditorFor(o => o.DateTime)
</div>

<div>
    @Html.DisplayFor(o => o.String)
    @Html.DisplayFor(o => o.Bool)
    @Html.DisplayFor(o => o.Decimal)
    @Html.DisplayFor(o => o.DateTime)
</div>*@

@Html.EditorFor(o => o)